body {
    /* Clean margin and padding */
    margin: 0;
    padding: 0;
    /* set background */
    background-color: darkseagreen;
    color: darkgreen;
    /* set image, specify location */
    background-image: url("https://www.dropbox.com/s/8bjkrpfxn38c5d0/green-leaves.jpg?raw=1");
    /* center horizontally and visually */
    background-position: center center;
    /* background image does not tile */
    background-repeat: no repeat;
    /* background image fixed in the viewport so the image doesn't
       move when the content's height is greater than the image height */
    background-attachment: fixed;
    /* background image will rescale based on container size */
    background-size: cover;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0 0 0 .45em;
}

    .logo a {
        color: #003366;
    }

    .logo, .navigation {
        list-style: none;
        text-transform: uppercase;
    }

    .logo a, .navigation a {
        text-decoration: none;
        letter-spacing: .45rem;
    }

.navigation {
    display: flex;
}

.navigation a {
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: darkgreen;
}

/* ************** media queries **************** */
@media all and (max-width: 600px) {
    
    .logo {
        margin: .25em 0;
        align-self: left /* align the logo to the left side of 'flex-container' */
    }

    .navigation {
        flex-direction: column;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba (255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}